/CalculoMonetarioApi/bin
/CalculoMonetarioApi/obj
/CalculoMonetarioApi.Infraestrutura/bin
/CalculoMonetarioApi.Infraestrutura/obj
/CalculoMonetarioApi.Teste/bin
/CalculoMonetarioApi.Teste/obj
/CaulculoMonetarioApi.Negocio/bin
/CaulculoMonetarioApi.Negocio/obj
/obj
